# Папка node_modules содержит зависимости проекта
node_modules/

# Папка содержит сгенерированные файлы командой npm
npm-debug.log

# Папка logs и файлы в ней, если они используются
logs/
*.log

# Папка временных файлов
.tmp/

# Локальные настройки проекта
.env

# Любые локальные настройки IDE или редактора
.idea/
.vscode/

# Папка с сгенерированными файлами документации
doc/

# Любые файлы, на которые вы не хотите делиться (например, конфиденциальные данные)
config.js